<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Contact</h5>jooky0327@hansung.ac.kr
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://jooky.tistory.com">Blog</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/jookyworld">GitHub</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://aws.amazon.com/ko/">aws</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © designed by Kwonyoung Joo with materializecss
            <a class="grey-text text-lighten-4 right">주권영</a>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/app/index.js"></script>
</body></html>