{{>layout/header}}
<main>
    <div class="container">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="row valign-wrapper">
                <div class="col s2">
                    <img src="img/EC2.png" alt="" class="responsive-img">
                </div>
                <div class="col s10">
                    <span class="black-text"><h2>Elastic Compute Cloud(EC2)</h2></span>
                </div>
            </div>
        </div>


        <!-- contents 1 -->
        <span class="cyan-text text-darken-2"><h4>Concept</h4></span>
        <p class="flow-text">
            EC2는 가상 컴퓨팅 환경인 인스턴스를 제공한다.<br>
            Amazon machine Image(AMI) 템플릿을 이용해 운영체제와 소프트웨어를 포함한 인스턴스 생성이 가능하다.<br>
            동시에 CPU, 메모리, 스토리지, 네트워킹 용량 등 구성이 자유롭다.<br>
            인스턴스에 연결 가능한 protocol, port, source IP범위 지정이 가능하고 키 페어를 생성해 로그인 정보를 보호할 수 있다.<br>
            탄력적 IP 주소를 연결해 고정 IPv4주소 할당이 가능하다.
        </p>
        <a class="orange-text text-darken-2"
           href="https://docs.aws.amazon.com/ko_kr/AWSEC2/latest/UserGuide/concepts.html"><h4>Learn More</h4></a>
        <a class="orange-text text-darken-2" href="https://aws.amazon.com/ko/ec2/"><h4>Start Experience</h4></a><br>

    </div>
</main>

{{>layout/footer}}