{{>layout/header}}

<main>
    <div class="container">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="row valign-wrapper">
                <div class="col s2">
                    <img src="img/IAM.png" alt="" class="responsive-img">
                </div>
                <div class="col s10">
                    <span class="black-text"><h2>Identity and Access Management(IAM)</h2></span>
                </div>
            </div>
        </div>


        <!-- contents 1 -->
        <span class="cyan-text text-darken-2"><h4>Concept</h4></span>
        <p class="flow-text">
            IAM은 AWS 리소스에 대한 액세스를 안전하게 제어할 수 있는 웹 서비스이다.<br>
            IAM을 사용하여 리소스를 사용하도록 인증(로그인)과 권한 부여(권한 있음)로 사용자를 제어한다.<br>
            루트(root)사용자와 IAM 사용자로 구분되고, 필요를 제외하고는 IAM 사용이 권장된다.<br>
            IAM사용자는 그룹과 정책, 역할 지정이 가능하다.
        </p>
        <a class="orange-text text-darken-2"
           href="https://docs.aws.amazon.com/ko_kr/IAM/latest/UserGuide/introduction.html#intro-features"><h4>Learn
            More</h4></a>
        <a class="orange-text text-darken-2" href="https://aws.amazon.com/ko/iam/"><h4>Start Experience</h4></a><br>


    </div>
</main>

{{>layout/footer}}